.App {
	text-align: center;
}

form {
	width: 40%;
	background: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 0.5rem;
	padding: 2rem 0 2rem 3rem;
	margin: 3rem auto;
	text-align: left;
}
.top-header {
	width: 86%;
}
form h2 {
	font-size: 2.5rem;
	margin: 0 0 1.2rem 0;
}
.cont-form {
	margin: 1rem 0;
}

.item {
	padding: 0.3rem;
	margin: 0.3rem 0;
	border-radius: 0.3rem;
	/* width: 86%; */
	width: 100%;
}
.number {
	border: 1px solid black;
	width: 96.5%;
}
form button {
	margin: 2rem 0;
	width: 100%;
	background: lightseagreen;
	border: none;
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	cursor: pointer;
}
form button:hover {
	background: rgb(75, 215, 208);
}
.quiz-cont {
	width: 50rem;
	background: white;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
	border-radius: 0.5rem;
	margin: 9rem auto;
	padding: 2rem;
}
.correct {
	font-weight: bold;
	text-align: right;
	color: lightgreen;
}
.question {
	font-size: 2rem;
	line-height: 3rem;
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
}

.answer {
	cursor: pointer;
	border: none;
	background: lightskyblue;
	border-radius: 0.5rem;
	font-size: 1rem;
	line-height: 3rem;
	width: 100%;
	margin: auto;
	margin-bottom: 2rem;
	padding: 0;
}
.answer:hover {
	background: rgb(83, 184, 247);
	color: white;
}
.nextbtn {
	width: 40%;
	color: white;
	border: none;
	padding: 0.5rem 1rem;
	border-radius: 0.3rem;
	background: lightseagreen;
	float: right;
	cursor: pointer;
}
.clear {
	clear: both;
}
.nextbtn:hover {
	background: rgb(75, 215, 208);
}
.results-cont {
	width: 40%;
	margin: 9rem auto;
	background: white;
	border: none;
	padding: 2rem 1rem;
	border-radius: 0.3rem;
}
.total {
	font-size: 1.3rem;
}
.extra-result-btn {
	float: none;
	margin-top: 1rem;
}


@media screen and (max-width: 830px) {
	body {
		background: white;
	}
	
  .quiz-cont, .results-cont, form {
    width: auto;
    box-shadow: none;
    margin: 0rem auto;
  }
  
  form {
		padding: 2rem 0 2rem 5rem;
	}
  form button{
		margin-top: 6rem;
	}
  .question {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .answer {
    font-size: .9rem;
  }
  .nextbtn{
    margin-top: 3rem;
  }
  .extra-result-btn {
    margin-top: 4rem;
  }
  .item{
    margin: 0.6rem 0;
    
	padding: 0.5rem;
  }
  .number {
    width: 97%;
  }
}
@media screen and (max-width: 480px) {
  form {
    padding: 2rem 0 2rem 3rem;
	}
  .item{
    padding: 0.3rem;
    margin: 0.3rem 0;
  }
  .number {
    width: 96.5%;
  }
}
